<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Join Club</title>
  </head>
  <body class="signUp">
    <h1>Join Club</h1>
    <form action="/join-club" method="POST">
      <p><%= locals.error %></p>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" maxlength="50" />
      </div>
      <div>
        <label for="passcode">Passcode</label>
        <input type="password" name="passcode" id="passcode" />
      </div>
      <button>Join</button>
    </form>
  </body>
</html>
