<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Club</title>
  </head>
  <body>
    <h1>Join Club</h1>
    <form action="/join-club" method="POST">
      <div>
        <label for="passcode">Passcode</label>
        <input type="password" name="passcode" id="passcode" />
      </div>
    </form>
  </body>
</html>
