<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Members</title>
  </head>
  <body class="home">
    <% if (membership) { %>
    <p><%= message || "" %></p>
    <h1>You're part of the big boys club</h1>
    <a href="/">Home</a>
    <% } else if (user) { %>
    <h1>Welcome! You're a member now</h1>
    <a href="/join-club">Join club</a>
    <a href="/">Home</a>
    <% } else { %>
    <h1>Log in to view this page</h1>
    <a href="/log-in">Log In</a>
    <% } %>
  </body>
</html>
