<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Sign Up</title>
  </head>
  <body class="signUp">
    <h1>Sign Up</h1>
    <form action="/sign-up" method="POST">
      <% if (locals.errors) { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
      <div>
        <label for="first_name">First Name</label>
        <input
          type="text"
          name="first_name"
          id="first_name"
          maxlength="50"
          required
        />
      </div>
      <div>
        <label for="last_name">Last Name</label>
        <input
          type="text"
          name="last_name"
          id="last_name"
          maxlength="50"
          required
        />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" maxlength="50" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          maxlength="50"
          required
        />
      </div>
      <div>
        <label for="confirm_password">Confirm Password</label>
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          maxlength="50"
          required
        />
      </div>
      <div style="flex-direction: row; justify-content: flex-start">
        <input
          type="checkbox"
          id="admin"
          name="admin"
          style="min-width: auto"
        />
        <label for="admin">Admin</label>
      </div>
      <button>Sign Up</button>
    </form>
  </body>
</html>
