body {
  background: url(/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

h1,
label {
  background-color: cadetblue;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

label {
  align-self: flex-start;
}

.message {
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.signUp,
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signUp form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.signUp form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.signUp input {
  min-width: 15rem;
}

.signUp form button {
  align-self: center;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.home {
  gap: 2rem;
}

.messagesBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.messagesBox > div {
  border: 0.1rem solid black;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: cadetblue;
}

.homeLinks {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  border: 0.1rem solid black;
  padding: 0.5rem 1rem;
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

a:hover,
.signUp form button:hover {
  background-color: cadetblue;
  color: white;
}
